  <% include header %>
<script>
function apply(){
  $('#main').load('/home/apply');
}

function reply(rid,rname){
       
       $('#senddiv').hide();
       $('#replydiv').show();
       replyform.rid.value=rid;
       $('#replyname').html(rname);
       $('#msgModal').modal();  
}
function sendMsg(){
  $('#senddiv').show();
  $('#replydiv').hide();
  $('#msgModal').modal();
}
</script>
<div class="row" style='height: 93%'>
      <div class="col-xs-1 col-sm-1 col-md-1">
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2" style='background:yellow;height:100%'>
        <table height='100%' align='center'>
          <tr><td>关注的课程</td></tr>
          <tr><td>关注的讲师</td></tr>
          <tr><td>学习进度</td></tr>
          <tr><td>同学圈</td></tr>
          <tr><td>
          <% if(loginbean.role==1){ %>
            <a href='#' onclick='apply()'>申请成为讲师</a>
          <% }else if(loginbean.role==2){ %>
            <a href='#'>讲师资格审核中</a>
          <% }else if(loginbean.role==3){ %>
            <a href='/teacher'>我的教学</a>
          <% } %>
          </td></tr>
        </table>
      </div>

      <div id='main' class="col-xs-8 col-sm-8 col-md-8" style='border: 1px solid green;height:100%'>
          <table class="table table-condensed">
        <caption>讲师申请列表</caption>
        <tbody>
          <thead>
            <tr>
              <th>发送者</th>
              <th>消息内容</th>
              <th>发送时间</th>
              <th>
                  操作&nbsp;
                  <button type="button" class="btn btn-success" onclick='sendMsg()'>发消息</button>

              </th>
            </tr>
          </thead>
          <% msgrs.forEach(function(item){ %>
          <tr>
            <td>
                <%-item.sendname%>
            </td>
            <td>
                <%-item.message%>
            </td>
            <td>
                <%-item.sendtime.getFullYear()%>年<%-(item.sendtime.getMonth()+1)%>月<%-item.sendtime.getDate()%>日
                <%-item.sendtime.getHours()%>:<%-item.sendtime.getMinutes()%>
            </td>
            <td>
                <button type="button" class="btn btn-warning" onclick='reply("<%-item.send%>","<%-item.sendname%>")'>回复</button>&nbsp;
                <button type="button" class="btn btn-warning">删除</button>
            </td>
          </tr>
          <% })%>
        </tbody>
      </table>
      </div>

      <div class="col-xs-1 col-sm-1 col-md-1">
      </div>
</div>

<div class="modal fade" id="msgModal">
    <div class="modal-dialog">
        <div class="modal-content" id='replydiv' style='display:none'>
          <div class="modal-header" style='text-align: center'>
            回复:<span id='replyname'></span>
          </div>
          <div class="modal-body" style='text-align: center'>
              <form id='replyform' name='replyform' onsubmit="return replySub();">
              <textarea cols='76' rows='9' name='message'></textarea><br/>
              <input type='hidden' name='rid'/>
              <input type='submit' value='回复'/>&nbsp;
              <input type='button' value='取消'/>
              </form>
            </div>
            <div class="modal-footer" style='text-align:center'>
              &nbsp;
            </div>
        </div><!-- /.modal-content -->
        <div class="modal-content" id='senddiv'>
          <div class="modal-header" style='text-align: center'>
            接受者昵称:<input type="text" class="form-control" placeholder="请输入昵称" name='昵称'>

          </div>
          <div class="modal-body" style='text-align: center'>
              <form id='msgform' name='msgform' onsubmit="return replySub();">
              <textarea cols='76' rows='9' name='message'></textarea><br/>
              <input type='submit' value='发送'/>&nbsp;
              <input type='button' value='取消'/>
              </form>
            </div>
            <div class="modal-footer" style='text-align:center'>
              &nbsp;
            </div>
        </div>
    </div><!-- /.modal -->
<% include footer %>
